* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset {
    border: 0;
}

body {
    background-color: #c8a2c8 ;
    font-family: sans-serif;
    font-size: 1em;
    color: #46295A;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.titulos {
    text-align: center;
}

#titulo {
    font-family: sans-serif;
    color: #46295A;
    text-shadow: 2px 2px 2px #e6ccef;
    padding: 80px 0 20px 0;
}

#subtitulo {
    font-family: sans-serif;
    color: #46295A;
    padding-bottom: 40px;
}



input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #46295A;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #46295A;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo selected option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e6ccef;

}

.botao {
    font-size: 1.2em;
    background: #46295A;
    border: 0;
    margin-bottom: 1em;
    color: #e6ccef;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);


}

.botao:hover {
    background: #46295A;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select {
    cursor: pointer
}

#check {
    display: inline-block;
}